/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
 html, 
 body {
     height: 100%;
 }
body.expo {
    /* background-image: url('../img/blurry-bg@2X.png'); */
    background-image:linear-gradient(-155deg, rgba(15,16,34,0.62) 0%, #313356 100%), 
    url('../img/fuzzy-gradient@2x.png');
    background-size: cover, 
    cover;
    background-repeat: no-repeat,
    no-repeat;
    height: 100%;
    font-family: Apercu Pro, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body.expo.purple {
    background-image:linear-gradient(-180deg, rgba(105,106,222,0.8) 0%, rgba(67,44,162,0.88) 100%), 
    url('../img/blurry-bg-expo@2X.png');
}

body.expo.purple .order-container {
    background: rgba(69,62,148,0.60);
}

body.expo.purple button.complete {
    color: #45429A;
}


.content-wrapper {
    margin: 0 auto;
    width: 92%;
    min-width: 960px;
    color: #ffffff;
    padding: 16px 0;
}
.feeds-title {
display: inline-flex;
justify-content: space-between;
width: 100%;
padding: 8px 0;
}
.feed-heading {
    font-family: "Apercu Pro";
    display: inline-flex;
}

.feed-icon {
    margin-right: 16px;
    width: 50px;
} 

.feeds-header h2 {
    margin: 8px 0;
}
h6.helper {
    color: #ffffff;
    margin: 0;
    font-size: 16px;
    font-family: "Apercu Pro";
    font-weight: 500;
    opacity: .8;
}

ul.order-status {
    list-style: none;
    
}
ul.order-status li {
    display: inline-block;
    margin: 0 8px;
    padding: 12px 6px;
    opacity: .7;
    /* border: 1px solid rgba(255, 255, 255, 0.06); */
}
ul.order-status li.active {
    border-bottom: 2px solid #21D1AB;
    opacity: 1;
}
/* ul.order-status li:first-of-type {
    border-radius: 4px 0 0 4px;
} */
ul.order-status li span {
    display: inline-block;
    font-size: 13px;
    width: 24px;
    height: 24px;
    border-radius: 12px; 
    color: #fff;
    background: #21D1AB;
    text-align: center;
    line-height: 26px;
    margin-right: 4px;
}
.order-container {
    background: rgba(53, 47, 84, 0.7);
    margin: 16px 0;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,.05);
}
.order-container.order-finished {
    width: 94%;
    margin: 0 auto;
    color: #fff;
    border: none;
}
/* MASTER FEED OVERRIDES  */

body.expo.master {
    background: #29234A;
    font-family: 'Akkurat';
}

body.expo.master .feed-heading , body.expo.master h6.helper {
    font-family: "Akkurat";
}

.dotted-bg {
        background-image: url('../img/dots.svg');
        background-repeat: repeat;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
}

.order-container.master {
    width: 49%;
    display: inline-flex;
    flex-direction: column;
    border: none; 
}

.order-body {
    justify-content: space-between;
}
.order-container.master ul.order li.forty {
    display: inline-flex;
    width: 56%;
}

.order-container.master ul.order li.customer-name {
    display: inline-flex;
    width: 29%;
}

.order-container.master ul.order li.order-actions {
    width: 10%;
}

.order-container.master ul.order {
    padding: 0 7px;
    margin-bottom: 4px;
    background: #3B345B;
    border: none;
}

.order-container.master ul.order li img.order-photo {
    width: 34px;
    height: 34px;
    border-radius: 4px;
    padding: 0 4px;
    margin-top: 9px;
}
.order-container.master.order-ready ul.order {
    -webkit-box-shadow: inset 2px 0px 0px 0px  #21D1AB;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: inset 2px 0px 0px 0px  #21D1AB;
    box-shadow: inset 2px 0px 0px 0px  #21D1AB;
}
.order-container.master.order-cooking ul.order {
    box-shadow: inset 2px 0px 0px 0px  #F5A623;
}
.order-container.master.order-cooking {
    margin-right: 1%;
} 
.t-heading {
    padding: 6px 12px;
    font-size: 22px;
}
.t-heading img {
    padding-right: 8px;
}

.order-container.master .heading {
    border: none;
}

.order-container.master ul.order li.order-actions {
    text-align: center;
    opacity: .65;
    font-size: 14px;
}

.master-order {
    position: relative;
}
        /* toggle  */
.master-order-actions {
    visibility: hidden;
    position: absolute;
    top: 0;
}
ul.master-order-actions li {
    display: inline-block;
    padding: 6px 20px 0 0; 
    text-indent: 0;
}
ul.master-order-actions li.esc {
    float: left;
    margin-left: 30px;
}

ul.master-order-actions li span {
    padding: 20px 25px;
    border-radius: 0;
    line-height: 18px;
    font-size: 18px;
}
.master-order-actions.state-changed {
    visibility: visible;
    padding: 10px;
    text-align: right;
    width: 96%;
}
ul.order.state-changed {
    visibility: hidden;
}
span.dets {
    background: rgba(255,255,255,0.1); 
    color: #fff;
    text-align: center;
    padding: 8px 16px; 
    margin: 6px 12px;
    border-radius: 6px;
    text-indent: 0;
}
span.mark-cooked {
    background: #21D1AB;
    color: #313356;
}
span.mark-cooked.orange {
    background: #F5A623;
}

body.expo.master ul.order-status li span {
    color: #313356
}
/* ul.master-order-actions li.customer-name {
    
}
ul.master-order-actions li.order-actions {
    float: right;
} */
/* END MASTER FEED OVERRIDES  */
.heading {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.10);
}


img.order-photo {
    width: 44px;
    height: 44px;
    box-shadow: 0px 3px 10px rgba(30, 31, 49, 0.2);
    border-radius: 8px;
}

ul.table-heading {
    display: inline;
    list-style: none;
    width: 100%;
    padding: 0;
    text-indent: 16px;
}
ul.order {
    margin: 0 auto;
    width: 97%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 0;
}

ul.order.tapped {
    animation-name: newOrder;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;

}

@keyframes newOrder {
    0% {
  background-color:rgba(33,209,171,0.25);
      opacity: 1;
    }
    100% {
      background-color: #3B345B;
    }
  }

 


ul.order::active, ul:hover {
    background: rgba(33, 209, 171, 0.2); 
}
ul.order:last-child {
    border-bottom: none;
}
ul.table-heading li, ul.order li {
    display: inline-block;
    width: 33%;
    padding: 16px 0;
    list-style: none;
    vertical-align: middle;
}
ul.order li.forty, ul.table-heading li.forty  {
    width: 42%;
}
ul.order li.order-actions {
    width: 22%;
    text-align: right;
}

ul.table-heading li.order-actions {
    width: 20%;
    text-align: right;
}
img.open {
    padding-left: 20px;
}
li.customer-name {
    font-size: 18px;
    text-indent: 24px;
}
li.customer-name p {
    margin-top: 6px;
}
.order-photo {
    display: inline-block;
    vertical-align: top;
    width: 48px;
}
.order-info {
    display: inline-block;
    padding-left: 8px;
}
.order-info p {
    padding: 2px;
    margin: 0;
    font-size: 18px;
}

button.complete {
    padding: 16px 18px;
    background: #ffffff;
    border-radius: 4px;
    border: none;
    color: #393C5D;
}
p.sub-text {
    font-size: 13px;
    opacity: .80;
    margin-bottom: 0;
}


.overlay-header {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    padding: 8px 0;
}
.modal-heading {
    padding: 24px 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.overlay-header h2 {
 color: rgba(255,255,255,0.8);
 font-size: 14px;
 text-transform: uppercase;
}
.index span {
    background: rgba(255,255,255,0.1);
    border-radius: 30px;
    padding: 12px 24px;
}
.order-details {
    display: flex;
}
.order-details img {
    width: 42px;
    height: 42px;
    margin-right: 8px;
}
.order-details h4 {
    margin: 6px;
    font-size: 24px;
}
.order-wrapper {
    display: inline-flex;
    width: 100%;
}
.order-wrapper p {
    margin: 4px 0;
}
p.modifier-name {
    text-indent: 10px;
}
.order-items {
    display: inline-block;
    width: 70%;
}
.modifier-group, .customer {
    opacity: .7;
}
.fullfilment-info {
    width: 29%;
    display: inline-block;
    padding: 8px 0px 0px 42px;
}
.item-head {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding-top: 8px;
}
.item-details {
    display: block;
    padding: 8px 36px 8px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.item-details h4 {
    padding: 12px;
    margin: 0;
}
.order-note {
    margin-top: 16px;
    background: rgba(255,255,255,0.1);
    border-radius: 8px;
    padding: 0px 12px;
    display: inline-flex;
    color: #F6B13F;
    position: relative;
}
.order-note:before {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    top: -10px;
    left: 36px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(255,255,255,0.1);
}
.fixed-actions {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20px;
}
.mark-complete {
    background: #4B84FE;
    color: #fff;   
    display: inline-block;
    border-radius: 8px;
    padding: 16px 80px;
    font-size: 20px;
}
.mark-complete.master-feed{
    background: #21D1AB;
    color: #313356;
    border-radius: 0;
}
.order-note img {
    margin-right: 8px;
}

.toast {
    background: #21D1AB;
    color: #fff;
    padding: 12px 18px;
    display: inline-block;
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    visibility:hidden;
}
.toast img {
    margin-right: 6px;
}
.toast.order-completed {
    visibility:visible;
}
@font-face {
    font-family: 'Apercu Pro';
    src: url('../fonts/ApercuPro-Bold.woff2') format('woff2'),
        url('/fonts/ApercuPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('../fonts/ApercuPro-Medium.woff2') format('woff2'),
        url('../fonts/ApercuPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Akkurat';
    src: url('../fonts/Akkurat.woff2') format('woff2'),
        url('../fonts/Akkurat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkurat';
    src: url('../fonts/Akkurat-Light.woff2') format('woff2'),
        url('../fonts/Akkurat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Akkurat';
    src: url('../fonts/Akkurat-Bold.woff2') format('woff2'),
        url('../fonts/Akkurat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



.popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    top: 0%;
    visibility:hidden;
    position:absolute;
    width:100%;
    height:100%;
    left:0%; 
    background: rgba(35, 36, 63, 0.98);
    backdrop-filter: blur(12px);
    color: #fff;
    z-index: 9;
    
  }

.popup-overlay.active{
    visibility:visible;
    }

.popup-content.active {
visibility:visible;
}


.popup-overlay.active{
    /*displays pop-up when "active" class is present*/
    visibility:visible;

  }
  
  .popup-content {
    /*Hides pop-up content when there is no "active" class */
   visibility:hidden;
   width: 90%;
   margin: 10px auto;
  }
  
  .popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility:visible;
  }

  a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

    /*Tabs Content */

.tab-content{
    display: none;
    -webkit-transition: opacity 2.0s ease-in;
    -moz-transition: opacity 2.0s ease-in;
      -o-transition: opacity 2.0s ease-in;
}

.tab-content.current{
    display: inherit;
    -webkit-transition: opacity 2.0s ease-in;
    -moz-transition: opacity 2.0s ease-in;
      -o-transition: opacity 2.0s ease-in;
}






/* Facility Feed Overrides  */
body.facility {
    background: #F6F7FB;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body.facility .order-container {
    background: rgba(255,255,255,0.1);
    color: #313356;
}

body.facility  .order-container.master ul.order {
    background: #fff;
    box-shadow: 0px 4px 9px rgba(218, 228, 242, 0.10);
}

body.facility .t-heading {
    text-align: center;
    font-weight: 600;
}

body.facility .order-container.master ul.order li img.order-photo {
    padding: 0;
    box-shadow: -1px 3px 10px rgba(30, 31, 49, 0.1);
    margin-left: 5px;
    margin-right: 5px;
}

body.facility .order-info p {
    font-weight: 600;
    font-size: 16px;
}
body.facility p.sub-text  {
    color: #8492A6;
    font-size: 14px;
    font-weight: 500;
}
body.facility .content-wrapper {
    width: 96%;
}
.exandable-header {
    color: #fff;
    background: #252631;
    padding: 6px 24px;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(49,51,86,.2);
    display: flex;
    justify-content: space-between;
}

.exandable-header.toggle-header {
display: none;
}

.exandable-header h2 {
    font-size: 16px;
    font-weight: 400;
    }  
.exandable-header h2 span {
        font-weight: 700;
} 

body.facility .order-container.master {
    width: 50%;
    float: left;
    margin: 0;
}

img.show-header {
    position: absolute; 
    right: 24px;
    top: 12px;
}
body.header-hidden img.show-header {
    transform: rotate(180deg);
    transition: ease-in background-color 100ms; 
}
body.facility .master-order {
    padding: 0 16px;
}
body.facility .content-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

body.facility .order-container.master ul.order li.customer-name {
    font-weight: 600;
    font-size: 16px;
}

body.facility .feed-heading {
    display: none;
}
body.header-hidden .order-cooking .t-heading {
    background: #EF9435;
    color: #fff;
    transition: linear all 50ms;
}
body.header-hidden .order-ready .t-heading {
    background: #20BC9A;
    color: #fff;
    transition: linear all 100ms;
}
body.facility .t-heading {
    border-bottom: 1px solid rgba(218, 228, 242, 0.6);
    padding: 20px;
    margin: 0 0 16px 0;
    font-weight: 700;
    color: #252631;
}

body.facility .order-container.master  ul.order li.order-actions {
    color: #8492A6;
    opacity: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(218, 228, 242, 0.2);
    border-radius: 4px;
    padding: 8px;
}

.master-order.state-changed  .order {
    animation-name: advancedOrder;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-play-state: running;
    background-color: #fff; 

}

@keyframes advancedOrder {
0% { 
    background-color: #D9F7F0;
     opacity: 1;
    }
    50% {
        background-color: #D9F7F0;
        opacity: 1;
        }
    100% {
        background-color: #fff;
        opacity: 1;
        }
    }


body.facility .order-container.order-cooking {
    box-shadow: 1px 0 0 0 rgba(218, 228, 242, 0.6);
    min-height: 1000px;
}
body.header-hidden .order-container {
    margin: 0;
}

body.header-hidden .content-wrapper {
    padding-top: 0;
}

body.header-hidden .feed-heading {
    display: none;
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
